<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<jmxConfigurator />
	<appender name ="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="infoAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>G:\\insurance\\info.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>G:\\insurance\\info.%d{yyyy-MM-dd-HH}.log.zip
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="flume_insurance_infoAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>G:\\insurance\\flume_insurance_infoAppender.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>G:\\insurance\\flume_insurance_infoAppender.log.%d{yyyy-MM-dd-HH-mm}
			</FileNamePattern>
		</rollingPolicy>
		<layout class="com.csair.b2c.security.model.FlumeLogLayout">
			<channel>b2c.cloud.insurance</channel>
		</layout>
	</appender>

    <root level="info">
        <appender-ref ref="stdout" />
    </root>

    <logger name="com.csair.b2c.cloud.test.sys" level="info">
        <appender-ref ref="infoAppender" />
    </logger>
    <logger name="com.csair.b2c.cloud.test.sys" level="info">
        <appender-ref ref="flume_insurance_infoAppender" />
    </logger>

</configuration>
