<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csair.b2c.test.mybatis.mapper.mysql.StudentsExamMapper">
  <resultMap id="BaseResultMap" type="com.csair.b2c.test.mybatis.model.StudentsExam">
    <id column="stud_exam_id" jdbcType="BIGINT" property="studExamId" />
    <result column="exam_code" jdbcType="VARCHAR" property="examCode" />
    <result column="stud_id" jdbcType="VARCHAR" property="studId" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from students_exam
    where stud_exam_id = #{studExamId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.csair.b2c.test.mybatis.model.StudentsExam">
    insert into students_exam (stud_exam_id, exam_code, stud_id, 
      del_flag)
    values (#{studExamId,jdbcType=BIGINT}, #{examCode,jdbcType=VARCHAR}, #{studId,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.csair.b2c.test.mybatis.model.StudentsExam">
    update students_exam
    set exam_code = #{examCode,jdbcType=VARCHAR},
      stud_id = #{studId,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where stud_exam_id = #{studExamId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select stud_exam_id, exam_code, stud_id, del_flag
    from students_exam
    where stud_exam_id = #{studExamId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select stud_exam_id, exam_code, stud_id, del_flag
    from students_exam
  </select>
</mapper>